{% load static %}

<!-- Seção de Contadores (Reutilizável) -->
<div class="container pt-3 pb-5">
    <div class="row text-center row-cols-2 row-cols-md-3 row-cols-lg-6 g-4 align-items-stretch">

        <div class="col">
            <div class="d-flex flex-column align-items-center h-100 p-2">
                <img src="{% static 'assets/11-1149.svg' %}" alt="Ícone Produções Acadêmicas" class="icon-stat mb-3" />
                <div class="counter-value display-4" data-target="{{ tcce_data.producoes_academicas|default:0 }}">0</div>
                <p class="text-muted mt-auto stat-text-footer">Produções Acadêmicas</p>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column align-items-center h-100 p-2">
                <img src="{% static 'assets/11-1288.svg' %}" alt="Ícone Produções Publicadas" class="icon-stat mb-3" />
                <div class="counter-value display-4" data-target="{{ tcce_data.producoes_publicadas|default:0 }}">0</div>
                <p class="text-muted mt-auto stat-text-footer">Produções Publicadas</p>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column align-items-center h-100 p-2">
                <img src="{% static 'assets/11-1294.svg' %}" alt="Ícone Artigos Científicos" class="icon-stat mb-3" />
                <div class="counter-value display-4" data-target="{{ tcce_data.artigos_cientificos|default:0 }}">0</div>
                <p class="text-muted mt-auto stat-text-footer">Artigos Científicos</p>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column align-items-center h-100 p-2">
                <img src="{% static 'assets/11-1304.svg' %}" alt="Ícone Autores Únicos" class="icon-stat mb-3" />
                <div class="counter-value display-4" data-target="{{ tcce_data.autores_unicos|default:0 }}">0</div>
                <p class="text-muted mt-auto stat-text-footer">Autores Únicos</p>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column align-items-center h-100 p-2">
                <img src="{% static 'assets/11-1288.svg' %}" alt="Ícone Relatórios Técnicos" class="icon-stat mb-3" />
                <div class="counter-value display-4" data-target="{{ tcce_data.relatorios_tecnicos|default:0 }}">0</div>
                <p class="text-muted mt-auto stat-text-footer">Relatórios Técnicos</p>
            </div>
        </div>

    </div>
</div>
