/* Estilos específicos para a Hero */
/*.hero-content {max-width: 900px;}*/
.hero-link-repositorio {margin-bottom: 80px;}

/* Defina uma altura mínima para o carousel-inner */
/* O valor 350px é um palpite. Você deve ajustá-lo no seu navegador (inspecionar elemento)
   para ser IGUAL ou MAIOR que a altura real do slide mais longo. */
.carousel-inner {
    min-height: 360px;
}

/* Garante que os itens menores ocupem a altura total */
.carousel-item {
    height: 100%;
}
