{% extends "base/base.html" %}
{% load static %}

{% block title %}Página Inicial - Repositório TCCEs{% endblock title %}

{% block extra_css %}
<style>
    .btn-tcces-saibamais{
        background-color: #72808A;
        transition: background-color 0.3s ease;
    }

    .btn-tcces-saibamais:hover{
        background-color: #495965;
    }

    @media (max-width: 800px) {
        .remove-negative-margin-mobile {
            margin-top: 0 !important;
        }
    }
</style>
{% endblock extra_css %}

{% block hero_title %}
    Repositório TCCEs
{% endblock hero_title %}

{% block hero_content %}
    <div class="text-white font-open-sans fw-semibold mb-5 scrollable-content-sm overflow-auto">
        


        O Repositório digital é uma plataforma dedicada à disponibilização de produção intelectual, científica e técnica desenvolvidas no âmbito dos projetos
        contemplados pelos <strong>Termos de Compromisso de Compensação Espeleológica - TCCEs</strong>.<br/><br/>
        Tem como objetivo promover a <strong>visibilidade, acessibilidade e difusão</strong> de dados e resultados de projetos. Além disso, funciona como uma valiosa fonte
        de referência para pesquisadores, gestores ambientais e a comunidade espeleológica, apoiando iniciativas voltadas à sustentabilidade e à preservação desse
        patrimônio, enquanto reforça o compromisso com a <strong>transparência e o acesso à informação</strong>.
    </div>

    <div>
        <a class="btn bg-custom-green text-white font-open-sans fw-bold rounded-3 px-4 py-2 text-lg-nowrap" href="{% url 'core:repositorio' %}">
            REPOSITÓRIO TCCEs
        </a>
    </div>
{% endblock hero_content %}

{% block content %}

<div class="divider mt-1"></div>
<div class="container position-relative z-1 py-3 after-hero">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="bg-custom-light-gray rounded-4 px-lg-5 px-4 py-4 mt-neg-150 position-relative">
                <div class="row">
                    <div class="col-lg-6 mb-4 mb-lg-0 d-flex flex-column justify-content-between">
                        <div>
                            <h2 class="text-custom-dark font-open-sans fw-medium fs-2 fs-md-1 mb-4">Sobre os TCCEs</h2>
                            <p class="text-custom-dark font-open-sans fs-6">
                                O <strong>Termo de Compromisso de Compensação Espeleológica (TCCE)</strong> é um documento celebrado entre o 
                                Instituto Chico Mendes de Conservação da Biodiversidade (<strong>ICMBio</strong>) e empresas mineradoras. Ele 
                                visa garantir a execução da compensação pelos impactos negativos irreversíveis a cavidades naturais subterrâneas
                                 com grau de relevância alto.
                                <br/><br/>
                                    O recurso consiste na implementação de ações para <strong>preservação de cavernas <em>in loco</em></strong>, além da 
                                execução de ações do <strong>Programa Nacional de Conservação do Patrimônio Espeleológico (PNCPE)</strong>. 
                                Dentre as atividades previstas estão o financiamento de estudos, pesquisas científicas e de infraestrutura, além
                                 de cursos de capacitação e a realização de congressos nacionais e internacionais que contribuam para o avanço do
                                  conhecimento espeleológico.
                            </p>
                        </div>

                        <div>
                            <a class="btn btn-tcces-saibamais text-white text-wrap font-open-sans fw-bold rounded-3 px-4 py-2 mt-3" href="{% url 'core:tcce' %}">
                                SAIBA MAIS SOBRE OS TCCEs
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 d-none d-lg-block">
                        <img src="{% static 'assets/img/sobre-tcces-section.webp' %}" class="img-fluid rounded-3" style="width: 100%; height: auto; object-fit: cover;" alt="Imagem ilustrativa de uma caverna ou espeleologia"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="bg-custom-light-gray rounded-4 position-relative">

                <div id="logoCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">

                    <div class="p-5 carousel-inner">

                        <div class="carousel-item active text-center">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 col-md-10 d-flex flex-column justify-content-center align-items-center">
                                    <img src="{% static 'assets/img/Vale.svg' %}" class="img-fluid" alt="Logos parceiros: Vale" style="max-height: 100px;">

                                    <div class="pt-3">
                                        <h5 class="mt-0">Parceiro Principal: Vale</h5>
                                        <p class="mb-0">
                                            A VALE é uma empresa global que pratica mineração sustentável nos países onde está presente. Existe com propósito de melhorar vida e transformar o futuro.
                                            VALE acredita que a mineração é essencial para o desenvolvimento do mundo e serve à sociedade ao gerar prosperidade para todos e cuidar do planeta.
                                            O trabalho é desenvolvido todos os dias para tornar a empresa referência
                                            na construção de uma mineração mais segura e sustentável, colocando a vida em primeiro lugar.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="carousel-item text-center">
                            <div class="row h-100 justify-content-center">
                                <div class="col-12 col-md-10 d-flex flex-column justify-content-center align-items-center">
                                    <img src="{% static '/assets/img/cropped-iabs-logo.png' %}" class="img-fluid" alt="Logos parceiros: Vale" style="max-height: 100px;">

                                    <div class="pt-3">
                                        <h5 class="mt-0">Apoio Institucional: IABS</h5>
                                        <p class="mb-0">
                                            Juntos, desenvolvemos pesquisas científicas e ações de infraestrutura em cavernas.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#logoCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Próximo</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}