{% load static %}
<!-- Footer -->
<footer class="w-100">
    <div class="divider-footer mb-2"></div>
    <div class="w-100 bg-custom-gray py-5 d-flex justify-content-center align-items-center">
        <div class="bg-white rounded-4 p-4 footer-logo-container">
            <!-- LOGOS PARCEIROS: Assumindo que está em frontend/static/common/assets/img/ -->
            <img src="{% static 'common/assets/img/regua-rodape.webp' %}" alt="Logos parceiros" class="img-fluid" />
        </div>
    </div>
</footer>