{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg container-lg mt-4 px-3 px-lg-0 z-3">
    <div class="container-fluid bg-white rounded-4 p-3 shadow position-relative">
        <a class="navbar-brand d-flex flex-lg-nowrap flex-wrap justify-content-center" href="#">
            <!-- LOGO e TEXTOS -->
            <img src="{% static 'common/assets/img/logo.svg' %}" alt="Logo" class="img-fluid nav-logo-img" />
            <div class="d-flex flex-column justify-content-center align-items-start align-items-lg-start ms-2">
                <img src="{% static 'common/assets/img/logo_nome.svg' %}" alt="TCCE ICMBio" class="img-fluid nav-logo-text-1" />
                <img src="{% static 'common/assets/img/logo_legenda.svg' %}" alt="Compensação Espeleológica" class="img-fluid nav-logo-text-2" />
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center gap-lg-4">
                <li class="nav-item"><a class="nav-link font-inter fw-bold" href="{% url 'core:home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link font-inter" href="{% url 'core:tcce' %}">TCCEs</a></li>
                <li class="nav-item"><a class="nav-link font-open-sans" href="{% url 'core:contato' %}">Contato</a></li>
                <li class="nav-item"><a class="nav-link font-open-sans" href="{% url 'core:galeria' %}">Galeria</a></li>
                <li class="nav-item mt-3 mt-lg-0">
                    <a class="btn bg-custom-green text-white font-open-sans fw-bold rounded-3 px-4 py-2 text-lg-nowrap" href="{% url 'core:repositorio' %}">REPOSITÓRIO TCCEs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>